.rooms-list {
  height: 585px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid #e4e6e9; }
  .rooms-list::-webkit-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .rooms-list::-webkit-scrollbar {
    width: 6px; }
  .rooms-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: transparent; }
  .rooms-list:hover::-webkit-scrollbar-thumb {
    background: #6a7d9b; }
