.login-form {
  h1 {
    font-size: 44px;
  }

  input {
    outline: none;
    border: 1px #edeff0 solid;
    border-radius: 1px;
    background-color: #edeff0;
    font-size: 14px;
    padding: 12.5px 1rem;
    overflow: hidden;
  
    &:-moz-placeholder {
      color: #000000;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
    }
  
    &::-moz-placeholder {
      color: #000000;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
    }
  
    &:-ms-input-placeholder {
      color: #000000;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
    }
  
    &::placeholder {
      color: #000000;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
    }
  }

  input[value]:not([value='']):invalid {
    color: #ea4d5f;
    border-color: #ea4d5f;
    outline: none;
  }

  button {
    cursor: pointer;
    border: none;
    outline: none;
    border: 0.125rem solid #6e50d2;
    padding: 5px 0;
    background-color: #6e50d2;
    color: #fdfdfd;
  }
}