.send-message-box {
  textarea {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: 1px solid #e4e6e9;
    padding: 10px 0 0 10px;
    border-radius: 6px;
    color: #000000;
    resize: none;
    font-size: 16px;

    &:-moz-placeholder {
      font-family: 'Roboto', sans-serif;
      color: #000000;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
    }
  
    &::-moz-placeholder {
      font-family: 'Roboto', sans-serif;
      color: #000000;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
    }
  
    &:-ms-input-placeholder {
      font-family: 'Roboto', sans-serif;
      color: #000000;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
    }
  
    &::placeholder {
      font-family: 'Roboto', sans-serif;
      color: #000000;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
    }
  }

  button {
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;

    i {
      font-size: 30px;
      color: #4A76A8;
      transition: .15s ease color;
    }

    &:disabled {
      cursor: default;

      i {
        color: lighten(#4A76A8, 15%);
      }
    }
  }
}